/* Icons from directory "" */
.icon-list,.icon-list\:regular{background-image:url('../img/icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-list-dims{width:32px;height:32px}
.icon-rent,.icon-rent\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-rent-dims{width:51px;height:64px}
.icon-user,.icon-user\:regular{background-image:url('../img/icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-user-dims{width:32px;height:32px}